<div class="container" style="background-color: #fff;padding: auto; padding-top: 30px;">
  <div class="row">
      <div class="col-md-6 text-center">
          <img src="./assets/admin/imgs/admin.png" style="width: 300px; border-radius: 50%; border: 5px solid #fff; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);">
      </div>
      <div class="col-md-6">
          <div class="profile-details">
              <h3 style="color: #333; font-size: 28px; margin-bottom: 20px;">Informations personnelles :</h3>
              <ul style="list-style-type: none; padding: 0;">
                  <li style="margin-bottom: 15px;">
                      <strong><i class="bi bi-person-fill" style="color: #007bff; margin-right: 10px;"></i> Nom :</strong> admin
                  </li>
                  <li style="margin-bottom: 15px;">
                      <strong><i class="bi bi-envelope-fill" style="color: #007bff; margin-right: 10px;"></i> Email :</strong> admin&#64;gmail.com
                  </li>
                  <li style="margin-bottom: 15px;">
                      <strong><i class="bi bi-phone-fill" style="color: #007bff; margin-right: 10px;"></i> Téléphone :</strong> +216xxxxxx
                  </li>
                  <li style="margin-bottom: 15px;">
                      <strong><i class="bi bi-calendar-fill" style="color: #007bff; margin-right: 10px;"></i> Date de naissance :</strong> 24-12-2003
                  </li>
                  <li style="margin-bottom: 15px;">
                      <strong><i class="bi bi-geo-fill" style="color: #007bff; margin-right: 10px;"></i> Adresse :</strong> Bizerte
                  </li>
                  <a href="lien_vers_modifier_profil" class="btn btn-primary">Modifier le profil</a>
              </ul>
          </div>
      </div>
  </div>
</div>
