<h1 style="font-size: 25px; text-align: center;">***Réunions***</h1>
<div style="display: flex;     overflow: hidden;
overflow-x: scroll;">
<div  class=" col-md-6 service-item-top  type" style="padding: 20px;" *ngFor="let item of Array ;index as i" >
  <div class="d-flex align-items-center justify-content-between  " >
      <div >
        <h5  class="text-truncate me-3 mb-0" >Réunion:</h5>
      </div>
        <a  class="btn  btn-outline-primary  border-dark " >{{item.DateReunion}} à {{item.heure}}</a>
    </div>
  <div class="overflow-hidden" style="color: black; padding: 0 10px;">
    <p><strong>Lieu :</strong> Grande salle </p>
    <p><strong>Description :</strong></p> 
<p>{{ item.text }}</p>
<a  class="btn border-dark " style="margin-left: 210px;" >Consulter</a>
  </div>
 
  
</div>

 
  

</div> 
  
