<!-- Topbar Start -->
<div class="container-fluid bg-light d-none d-lg-block">
  <div class="row align-items-center top-bar">
      <div class="col-lg-3 col-md-12 text-center text-lg-start">
          <a href="" class="navbar-brand m-0 p-0">
              <img src="./assets/user/img/logo.png" class="logo">
          </a>
      </div>
      <div class="col-lg-9 col-md-12 text-end">
          <div class="h-100 d-inline-flex align-items-center me-4">
              <i class="fa fa-map-marker-alt text-primary me-2"></i>
              <p class="m-0">BP 45/46 - BIZERTE TUNISIA</p>
          </div>
          <div class="h-100 d-inline-flex align-items-center me-4">
              <i class="far fa-envelope-open text-primary me-2"></i>
              <p class="m-0">stir &#64; stir.com.tn</p>
          </div>
          <div class="h-100 d-inline-flex align-items-center">
              <a class="btn btn-sm-square bg-white text-primary me-1" href=""><i class="fab fa-facebook-f"></i></a>
              <a class="btn btn-sm-square bg-white text-primary me-1" href=""><i class="fab fa-twitter"></i></a>
              <a class="btn btn-sm-square bg-white text-primary me-1" href=""><i class="fab fa-linkedin-in"></i></a>
              <a class="btn btn-sm-square bg-white text-primary me-0" href=""><i class="fab fa-instagram"></i></a>
          </div>
      </div>
  </div>
</div>
<!-- Topbar End -->


<!-- Navbar Start -->
<div class="container-fluid nav-bar bg-light">
  <nav class="navbar navbar-expand-lg navbar-light bg-white p-3 py-lg-0 px-lg-4">
      <a href="" class="navbar-brand d-flex align-items-center m-0 p-0 d-lg-none">
        <img src="./assets/user/img/logo.png" class="logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
          <span class="fa fa-bars"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav me-auto">
              <a routerLink="/"  class="nav-item nav-link active">Accueil</a>
              <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Présentation</a>
                <div class="dropdown-menu fade-up m-0">
                    <a href="booking.html" class="dropdown-item">A propos</a>
                    <a href="team.html" class="dropdown-item">Historique</a>
                    <a href="testimonial.html" class="dropdown-item">Sécurité et environnement</a>
                    <a href="404.html" class="dropdown-item">Système de management</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Activités & Produits</a>
                <div class="dropdown-menu fade-up m-0">
                    <a href="booking.html" class="dropdown-item">Activités</a>
                    <a href="team.html" class="dropdown-item">Unité de raffinage</a>
                    <a href="testimonial.html" class="dropdown-item">Centrale thermique et utilités</a>
                    <a href="404.html" class="dropdown-item">Parc de stockage</a>
                    <a href="404.html" class="dropdown-item">Port pétrolier</a>
                    <a href="404.html" class="dropdown-item">Produits</a>
                </div>
            </div>
               
              <a href="contact.html" class="nav-item nav-link">Centre de Formation</a>
              <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">École du Feu</a>
                <div class="dropdown-menu fade-up m-0">
                    <a href="booking.html" class="dropdown-item">&Eacute;cole du Feu</a>
                    <a href="team.html" class="dropdown-item">Présentation</a>
                    <a href="testimonial.html" class="dropdown-item">Calendrier</a>
                    <a href="404.html" class="dropdown-item">Inscription en ligne</a>
                </div>
            </div>
             
              <a href="contact.html" class="nav-item nav-link">Laboratoire</a>
              <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Carrière</a>
                <div class="dropdown-menu fade-up m-0">
                    <a href="booking.html" class="dropdown-item">Concours</a>
                  
                </div>
            </div>
          </div>
         
              
              
                  <a  routerLink="/startlogin" class="nav-item nav-link">connexion</a>
                  <a routerLink="/register" class="nav-item nav-link">s'inscrire</a>  
             
         
      </div>
  </nav>
</div>
<!-- Navbar End -->



<div class="startlogin">

 



   <!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4 justify-content-between" >
            <div routerLink="/admin/login" class="col-lg-4 col-md-6 service-item-top wow fadeInUp type" data-wow-delay="0.1s" >
                <div class="d-flex align-items-center justify-content-between  p-4">
                    <div routerLink="/admin/login">
                      <h5  class="text-truncate me-3 mb-0" >Administrateur</h5>
                    </div>
                      <a routerLink="/admin/login" class="btn btn-square btn-outline-primary border-1 border-dark flex-shrink-0" href=""><i class="fa fa-arrow-right"></i></a>
                  </div>
                <div class="overflow-hidden">
                    <img class="img-fluid w-100 h-100" src="./assets/user/img/admin.jpg" alt="" style="border-radius: 12px; ">
                </div>
               
                
            </div>
            <div routerLink="/loginEmployee" class="col-lg-4 col-md-6 service-item-top wow fadeInUp type" data-wow-delay="0.3s">
                <div class="d-flex align-items-center justify-content-between  p-4">
                    <div>
                      <h5 class="text-truncate me-3 mb-0">Personnel
                        </h5>
                      
                    </div>
                      
                      <a routerLink="/loginEmployee"  class="btn btn-square btn-outline-primary border-1 border-dark flex-shrink-0" href=""><i class="fa fa-arrow-right"></i></a>
                  </div>
                <div class="overflow-hidden">
                    <img class="img-fluid w-100 h-100" src="./assets/user/img/personel1.jpg" alt="">
                </div>
                
            </div>
            <div routerLink="/loginuser" class="col-lg-4 col-md-6 service-item-top wow fadeInUp type" data-wow-delay="0.5s">
                <div class="d-flex align-items-center justify-content-between  p-4">
                    <div>
                      <h5 class="text-truncate me-3 mb-0">Autre
                        </h5>
                      
                    </div>
                      <a routerLink="/loginuser" class="btn btn-square btn-outline-primary border-dark border-1 flex-shrink-0" href=""><i class="fa fa-arrow-right"></i></a>
                  </div>
                <div class="overflow-hidden">
                    <img class="img-fluid w-100 h-100" src="./assets/user/img/inscription.png" alt="">
                </div>
                
            </div>
        </div>
    </div>
  </div>
  <!-- Service End -->
 




    

</div>